<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/img/wanted.svg" />
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OSdS</title>
  </head>
  <body>
    <div id="app"></div>
    <div id="overblock"><span class="loader"></span></div>
    <div class="content">
      <div class="ui-line box-salvar">
        <fieldset class="char-box">
          <div id="data-container">
              <div id="data"></div>
          </div>
          <div class="atributo" id="seleciona">
            <select id="personagens" style="display:none">
            </select>
            <input type="button" id="add" name="add" value="+" style="display:none">
            <input type="button" id="remove" name="remove" value="-" style="display:none">
            <div id="login-container">
                <button id="google-login-button">Login</button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="content" id="planilha" style="display:none;">
      <div class="ui-line">
        <fieldset class="char-box">
          <legend>Personagem</legend>
          <div class="content-box"> 
            <div class="name-box">
              <legend>Nome</legend>
              <input type="text" name="char_name" id="char_name" value="">
            </div>
            <div class="level-box">
              <legend>Nível</legend>
                <input type="text" name="char_level" id="char_level" value="">
            </div>
          </div>
          <div class="content-box support-box">
            <fieldset>
              <legend>Vida</legend>
              <input type="text" name="char_vida" id="char_vida" value="">
            </fieldset>
            <fieldset>
              <legend>Defesa</legend>
              <input type="text" name="char_def" id="char_def" value="">
            </fieldset>
            <fieldset>
              <legend>Init.</legend>
              <input type="text" name="char_init" id="char_init" value="">
            </fieldset>
            <fieldset>
              <legend>Ações</legend>
              <input type="text" name="char_acoes" id="char_acoes" value="">
            </fieldset>
            <fieldset>
              <legend>Dados</legend>
              <input type="number" name="char_dados" id="char_dados" value="1" min="1" max="99" style="width:40px">
              <span id="roll-dados" class="icon-dice-solo"></span>
            </fieldset>
          </div>
        </fieldset>
      </div>
      <div class="ui-line">
          <div class="content-box support-box money">
            <fieldset>
              <legend>US$</legend>
              <input type="text" name="money" id="money" value="">
            </fieldset>
            <fieldset>
              <legend>Recompensa</legend>
              <input type="text" name="recompensa" id="recompensa" value="">
            </fieldset>
          </div>
      </div>
      <div class="ui-line">
        <fieldset class="attr-box">
          <legend>Atributos</legend>
          <div class="atributo">
            <label for="fisico">Físico:</label>
            <input type="range" id="fisico" name="fisico" min="0" max="5" value="0">
            <span id="fisicoValor">0</span>
            <span id="roll-fisico" class="icon-dice"></span>
          </div>
          <div class="atributo">
            <label for="agilidade">Agilidade:</label>
            <input type="range" id="agilidade" name="agilidade" min="0" max="5" value="0">
            <span id="agilidadeValor">0</span>
            <span id="roll-agilidade" class="icon-dice"></span>
          </div>
          <div class="atributo">
            <label for="intelecto">Intelecto:</label>
            <input type="range" id="intelecto" name="intelecto" min="0" max="5" value="0">
            <span id="intelectoValor">0</span>
            <span id="roll-intelecto" class="icon-dice"></span>
          </div>
          <div class="atributo">
            <label for="coragem">Coragem:</label>
            <input type="range" id="coragem" name="coragem" min="0" max="5" value="0">
            <span id="coragemValor">0</span>
            <span id="roll-coragem" class="icon-dice"></span>
          </div>
        </fieldset>
      </div>
      <div class="ui-line">
        <fieldset class="attr-box">
          <legend>Antecedentes</legend>
          <div class="atributo">
            <label for="combate">Combate:</label>
            <input type="range" id="combate" name="combate" min="0" max="5" value="0">
            <span id="combateValor">0</span>
            <span id="roll-combate" class="icon-dice"></span>
          </div>
          <div class="atributo">
            <label for="negocios">Negócios:</label>
            <input type="range" id="negocios" name="negocios" min="0" max="5" value="0">
            <span id="negociosValor">0</span>
            <span id="roll-negocios" class="icon-dice"></span>
          </div>
          <div class="atributo">
            <label for="montaria">Montaria:</label>
            <input type="range" id="montaria" name="montaria" min="0" max="5" value="0">
            <span id="montariaValor">0</span>
            <span id="roll-montaria" class="icon-dice"></span>
          </div>
          <div class="atributo">
            <label for="tradicao">Tradicao:</label>
            <input type="range" id="tradicao" name="tradicao" min="0" max="5" value="0">
            <span id="tradicaoValor">0</span>
            <span id="roll-tradicao" class="icon-dice"></span>
          </div>
          <div class="atributo">
            <label for="labuta">Labuta:</label>
            <input type="range" id="labuta" name="labuta" min="0" max="5" value="0">
            <span id="labutaValor">0</span>
            <span id="roll-labuta" class="icon-dice"></span>
          </div>
          <div class="atributo">
            <label for="exploracao">Exploração:</label>
            <input type="range" id="exploracao" name="exploracao" min="0" max="5" value="0">
            <span id="exploracaoValor">0</span>
            <span id="roll-exploracao" class="icon-dice"></span>
          </div>
          <div class="atributo">
            <label for="roubo">Roubo:</label>
            <input type="range" id="roubo" name="roubo" min="0" max="5" value="0">
            <span id="rouboValor">0</span>
            <span id="roll-roubo" class="icon-dice"></span>
          </div>
          <div class="atributo">
            <label for="medicina">Medicina:</label>
            <input type="range" id="medicina" name="medicina" min="0" max="5" value="0">
            <span id="medicinaValor">0</span>
            <span id="roll-medicina" class="icon-dice"></span>
          </div>
        </fieldset>
      </div>
      <div class="ui-line">
        <fieldset class="attr-box">
          <legend>Tormento</legend>
          <div class="atributo">
            <textarea id="tormento"></textarea>
          </div>
        </fieldset>
      </div>
      <div class="ui-line">
        <fieldset class="attr-box">
          <legend>Habilidades</legend>
          <div class="atributo">
            <textarea id="habilidades"></textarea>
          </div>
        </fieldset>
      </div>
      <div class="ui-line">
        <fieldset class="attr-box">
          <legend>Anotações</legend>
          <div class="atributo">
            <textarea id="anotacoes"></textarea>
          </div>
        </fieldset>
      </div>

      <div class="ui-line">
        <fieldset class="char-box equip-box">
          <legend>Equipamento</legend>
          <div class="content-box"> 
            <div class="name-box">
              <legend></legend>
            </div>
            <div class="level-box">
              <legend>Dano | </legend>
            </div>
            <div class="level-box">
              <legend>Bonus |</legend>
            </div>
            <div class="level-box">
              <legend>Roll</legend>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="ui-line">
        <fieldset class="char-box">
          <legend>Reputação</legend>
          <div class="atributo">
            <input type="range" id="reputacao" name="reputacao" min="-5" max="5" value="0">
            <span id="reputacaoValor">0</span>
            <span id="roll-reputacao" class="icon-dice"></span>
          </div>
        </fieldset>
      </div>
      <div class="ui-line box-salvar">
        <fieldset class="char-box">
          <div class="atributo">
            <input type="button" id="salvar" name="salvar" value="Salvar">
          </div>
        </fieldset>
      </div>
      <div id="box_results">
        <fieldset>
          <legend id="box_results_formula"></legend>
          <div id="box_results_result"></div>
        </fieldset>
      </div> 
    </div>
    <script type="text/javascript">
      var personasArr = [];
      var oid = null;
      var _idToken = null;
      var ntimes = 0;
    </script>
    <script type="module" src="/js/dice-box.js"></script>
    <script type="module" src="/js/auth.js"></script>
    <script type="text/javascript" src="/js/equipamento.js"></script>
    <script type="text/javascript" src="/js/home.js"></script>
    <script type="module">
      console.info("============> Module")
      import OBR from "https://cdn.skypack.dev/@owlbear-rodeo/sdk";
      function showPopover(_url) {
        console.info("============> showPopover");
        OBR.popover.open({
          id: "rfo.im",
          url: _url,
          width: 330,
          height: 330,
          anchorOrigin: { horizontal: "RIGHT", vertical: "BOTTOM" }
        });
      }

      function showOBRNotification(m, _rolagem, _bonus) {
        console.info("** 🎲 Rolagem de dado:", m, _rolagem, _bonus);
        var $rolagem = _rolagem;
        var $bonus = _bonus;
        try{
          OBR.scene.setMetadata({ "im.rfo/sheet": { 
              roll: `${m}#__${Math.random()}#`,
              rolagem: `${$rolagem}`,
              bonus: `${$bonus}`
            } 
          }).then(() =>{
            console.info("============> METADATA CHANGED")

            OBR.scene.getMetadata()
            .then(data=>{
              console.info("** 📒 $","Owlbear Rodeo Scene metadata is ready ✅:", data);
            });

          });
        } catch(error) {
          console.error("============> Erro showOBRNotification", error);
        } 
      }
      window.onload = (event) => {
        window.showOBRNotification = showOBRNotification;
        console.info("============> Module Window load");
        OBR.onReady(()=>{
          console.info("============> OBR.onReady");
          OBR.action.onOpenChange((isOpen) => {
            console.info("============> OBR.onOpenChange");
            if(isOpen) {
              console.info("============> OBR.onOpenChange isOpen");
              try {
                console.info("============> Try OBR.scene.getMetadata");
                OBR.scene.getMetadata()
                .then(data=>{
                  OBR.scene.onMetadataChange((metadata) => {
                    console.info("============> OBR.scene.onMetadataChange");
                    showPopover(`/pop/${metadata["im.rfo/sheet"].roll.split("@")[0]}`);
                  });
                  console.info("** 📒 $","Owlbear Rodeo Scene metadata is ready ✅:", data);
                  console.info("============> Try window.initAuthGoogleAuthentication");
                  window.initAuthGoogleAuthentication();
                });
              } catch (e) {
                console.error("** 💾 $","Try Error OBR.scene.getMetadata ❌:", e);
                console.error(e);
              }
            }
          })
        })
      }
    </script>
  </body>
</html>
