<!DOCTYPE html>
<html>
<head>
    <title>Teste 3D Dice</title>
    <style>
        #dice-box {
            width: 400px; /* Defina uma largura */
            height: 300px; /* Defina uma altura */
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div id="dice-box"></div>

    <button onclick="window.rollDice()">Rolar Dados</button>

   <script type="module"> 
         import DiceBox from 'https://cdn.skypack.dev/@3d-dice/dice-box-threejs';

         let box; 

         async function initializeDiceBox() {
           box = new DiceBox("#dice-box", {
              theme_customColorset: {
                background: "#5C4033",
                foreground: "#FFCC00",
                texture: "wood",
                material: "wood",
              },
              light_intensity: 1,
              gravity_multiplier: 600,
              baseScale: 100,
              strength: 1,
              onRollComplete: (results) => {
              },
            });

             box.initialize().then((e) => { 
                box.roll("2d6@1,2");
             });

         }

         // Função para rolar os dados
         window.rollDice = () => {
           if(!box) return; //Verifica se a box foi iniciada.
           box.roll("2d6@1,2");
         }

         initializeDiceBox(); //Inicia.
     </script>
</body>
</html>